@charset "utf-8";

	/* CONTACT */

.contact {
	background-color: #F2E4E4;
    width: 80%;
    float: none;
	margin: 2.5% 10%;
	padding-bottom: 25px;
    border-radius: 10px;
	display: flex;
 	flex-wrap: wrap;
  	justify-content: space-between;
	height: auto;
	box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1);
}

.contact-title {
    height: 45px;
    width: 100%;
    text-align: right;
	line-height: 30px;
	vertical-align: top;
    margin-right: 2.5%;
    margin-bottom: 20px;
	color: #573D3C;
}

.form {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.contact input[type=text], [type=email-address], textarea {
  	width: 100%;
  	padding: 10px;
  	border: 0px;
  	border-radius: 20px;
  	box-sizing: border-box;
  	margin-top: 6px;
  	margin-bottom: 15px;
	font-family: "Fira Sans", sans-serif;
	background-color: #EEEEEE;
}

.contact label {
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;	
}

.contact input[type=submit] {
	height: 60px;
	width: 120px;
	padding: 20px;
  	border: none;
  	border-radius: 30px;
  	background-color: #A36360;
  	color: black;
	font-family: 'Fira Sans', sans-serif;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.5s;
}

.contact input[type=submit]:hover {
  	background-color: #573D3C;
}

